<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>562637301622-7og7cg72o0koflrjv599fchl8kqkcp1s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.562637301622-7og7cg72o0koflrjv599fchl8kqkcp1s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>562637301622-5pee9grnikhmqbdhro4ajpmpk81arhq0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAIic6D_5pVDUV3gamIz5A9PiUg5AJpmJ4</string>
	<key>GCM_SENDER_ID</key>
	<string>562637301622</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vibefox.app.development</string>
	<key>PROJECT_ID</key>
	<string>vibefox-bc1ca</string>
	<key>STORAGE_BUCKET</key>
	<string>vibefox-bc1ca.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:562637301622:ios:441a4a51ca16605b0abc57</string>
</dict>
</plist>